<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="float: left;">Campusplan</ion-title>
    <ion-icon (click)="search()" style="float: right; position: relative; font-size: 2em; margin-right: 5px;" name="search"></ion-icon>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <h5>Herzlich Willkommen!</h5>
    </ion-row>
    <ion-row>
      <ng-container *ngFor="let temp of temp; let i = index" [attr.data-index]="i">
        <span *ngIf="i == 0"><b>Folgende markierte Räume sind gerade frei:</b></span>
        <span style="width: 100%;">
          <ion-item style="float: left; width: 85%;" (click)="onTip(temp)">
            {{temp}}
          </ion-item>
          <ion-icon style="height: 100%; font-size: 2em; padding-top: 15px; margin-left: 5%; padding-left: 5px; width: 10%; float: right;" name="arrow-dropright" (click)="onTip(temp)"></ion-icon>
        </span>
      </ng-container>
    </ion-row>
    <ion-row style="margin-top: 20px;">
      Bitte wähle dein Gebäude:
    </ion-row>
    <ion-row style="text-align:center;">
      <img id="img1" style="margin: 0px; padding: 0px; float: left;" src="assets/imgs/Campusplan_01.jpg"/>
    </ion-row>
    <ion-row style="text-align:center">
      <img id="img2" style="margin: 0px; padding: 0px; float: left;" src="assets/imgs/Campusplan_02.jpg"/>
    	<img id="img3" style="cursor: pointer; margin: 0px; padding: 0px; float: left;" src="assets/imgs/Campusplan_03.jpg" (click)="nextD()"/>
    	<img id="img4" style="margin: 0px; padding: 0px; float: left;" src="assets/imgs/Campusplan_04.jpg"/>
    </ion-row>
    <ion-row style="text-align:center">
      <img id="img5" style="margin: 0px; padding: 0px; float: left;" src="assets/imgs/Campusplan_05.jpg"/>
    </ion-row>
    <ion-row style="text-align:center">
      <img id="img6" style="margin: 0px; padding: 0px; float: left;" src="assets/imgs/Campusplan_06.jpg"/>
    	<img id="img7" style="cursor: pointer; margin: 0px; padding: 0px; float: left;" src="assets/imgs/Campusplan_07.jpg" (click)="nextC()"/>
    	<img id="img8" style="margin: 0px; padding: 0px; float: left;" src="assets/imgs/Campusplan_08.jpg"/>
    </ion-row>
    <ion-row style="text-align:center">
      <img id="img9" style="margin: 0px; padding: 0px; float: left;" src="assets/imgs/Campusplan_09.jpg"/>
    </ion-row>
  </ion-grid>

</ion-content>
