page-search {

}
.my-toast>.toast-wrapper>.toast-container {
  background-color: rgba(66, 134, 244, 0.5);
  border-radius: 5px;
  border: 2px solid rgb(66, 134, 244);
  width: 100%;
}
.my-toast>.toast-wrapper {
  opacity: 1.0;
  background-color: rgba(66, 134, 244, 0.5);
  border-radius: 5px;
  width: 80%;
  text-align: center;
}
.my-toast {
  text-align: center;
}
